* {
    margin: 0;
    padding: 0;
}
.container-flex-1 {
    display: flex;
    background-color: darkcyan;
    flex-direction: row;
}
.container-flex-2 {
    display: flex;
    background-color: darkcyan;
    flex-direction: column;
}
.container-flex-3 {
    display: flex;
    background-color: darkcyan;
    flex-wrap: wrap;
}
.container-flex-4 {
    display: flex;
    background-color: darkcyan;
    flex-wrap: nowrap;
}
.container-flex-5 {
    display: flex;
    background-color: darkcyan;
    flex-flow: row wrap;
}
.container-flex-6 {
    display: flex;
    background-color: darkcyan;
    flex-flow: row nowrap;
}
.container-flex-7 {
    display: flex;
    background-color: darkcyan;
    flex-flow: column wrap;
    height: 400px;
    overflow: scroll;
}
.container-flex-8 {
    display: flex;
    background-color: darkcyan;
    flex-flow: column nowrap;
    height: 400px;
}
.container-flex-9 {
    display: flex;
    background-color: darkcyan;
    justify-content: space-between;
}
.container-flex-10 {
    display: flex;
    background-color: darkcyan;
    justify-content: flex-start;
}
.container-flex-11 {
    display: flex;
    background-color: darkcyan;
    justify-content: flex-end;
}
.container-flex-12 {
    display: flex;
    background-color: darkcyan;
    justify-content: center;
}
.container-flex-13 {
    display: flex;
    background-color: darkcyan;
    justify-content: space-around;
}
.container-flex-14 {
    display: flex;
    background-color: darkcyan;
    justify-content: stretch;
    align-items: stretch;
}
.container-flex-15 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    height: 100vh;
    width: 100%;
    margin-bottom: 30px;
}
.container-flex-16 {
    display: flex;
    align-items: center;
    background-color: darkcyan;
    height: 90vh;
    width: 100%;
}
.item-flex {
    width: 300px;
    height: 300px;
    background-color: goldenrod;
    color: white;
    font-size: 1.5em;
    margin: 20px;
}