* {
    margin: 0;
    padding: 0;
}
body {
    margin: 20px;
}
.container-flex-1 {
    display: flex;
    background-color: darkcyan;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}
.item-flex {
    background-color: goldenrod;
    color: white;
    font-size: 1.5em;
    width: 200px;
    height: 200px;
}
.item-1 {
    order: 3;
}
.item-2  {
   order: 4;
}
.item-3 {
    order: 1;
}
.item-4 {
    order: 0;
}
.item-5 {
    order: 5;
}
.item-6 {
    order: 2;
}
