ul {
    padding: 20px;
    background-color: rgb(70,70,70);
    font-size: 1.3em;
    text-align: right;
}
li {
    display: inline-block;
    padding-right: 20px;
}
a {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
}
a:hover.efecto-item {
    font-size: 1.2em;
}