* {
    margin: 0;
    padding: 0;
}
nav {
    position: fixed;
    top: 0;
    height: 100%;
    /* background: blue; */
    overflow: scroll;
    overflow-x: hidden;
}
ul {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    display: flex;
    flex-flow: column wrap;
    justify-items: flex-start;
    width: 200px;
    text-align: left;
    list-style: none;
    margin-top: 50px;
    margin-left: 20px;
    
}
.bt-menu {
    position: fixed;
    top: 20px;
    left: 40px;
    font-size: 1.7em;
    cursor: pointer;
}
li {
    margin: 2px;
    border-radius: 5px;
}
a {
    display: block;
    cursor: pointer;
    color: black;
    text-decoration: none;
    padding: 20px;
}
a:hover {
    background: gainsboro;
    border-radius: 7px;
}