h1 {
    text-align: center,
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul {
    list-style: none;
}
nav li {
    line-height: 2.5em;
    position: relative;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 0 3em;
    display: block;
}
.menu {
    width: 100%;
    background: darkcyan;
    display: table;
}
.menu ul {
    position: absolute;
}
.menu > li {
    float: left;
    width: 170px;
}
/* Segundo Nivel */
nav li li {
    width: 220px;
    max-height: 0;
    overflow:hidden;
    background: darkcyan;
}
nav li:hover > ul > li {
    overflow: visible;
    max-height: 100%;
}
.menu > li >ul {
    top: 102%;

}