* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #252528;
    color: rgba(255,255,255,.4);
}
h1 {
    font-size: 1.5em;
    text-align: right;
    color: rgba(255,255,255,.7);
    margin: 40px 20px 35px 0;
    padding-right: 5em;
}
nav {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    height: 100%;
    padding-right: 2em;
    top: 0;
    z-index: 10;
    left: -19em;
    transition: all .5s;
}
.menu {
     list-style: none;
     line-height: 60px;
     margin: 7em auto 0 auto;
     width: 16em;
     padding-left: .1em;
}
.menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding-left: 1.5em;
    width: 100%;
    transition: all .2s;
    font-size: 1.3em;
}
.menu li {
    box-shadow: 3px 0 rgba(255,255,255,.2) inset;
    padding-left: .8em;
    margin-bottom: 5px;
    transition: all .5s;
}
.menu li:hover {
    box-shadow: 15em 0 rgba(255,255,255, .2) inset;
}
.menu a:hover {
    margin-left: 1em;
}
.fas, .fab {
    color: white;
    padding-right: .3em;
}
label.icono-menu {
    position: fixed;
    z-index: 20;
    top: 50px;
    left: 40px;
    cursor: pointer;
}
nav.mostrarNav {
    left: 0;
}
.fa-bars {
    font-size: 1.8em;
}
article {
    font-size: 1.4em;
    line-height: 1.5em;
    padding: .5em 3.5em;
    text-align: justify;
}
footer {
    border-top: 2px solid rgba(255,255,255,.1);
    text-align: right;
    padding-right: 3.5em;
    padding-top: 1em;
}