* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
}
.titulo-principal {
    margin: 25px;
}
img {
    margin: 0 auto 0 auto;
    display: block;
}
p {
    font-size: 2.5em;
}
h2.font-cinzel {
    font-family: 'Cinzel', serif;
}
h2.font-reggae {
    font-family: 'Reggae One', Arial, Helvetica, sans-serif;
    font-size: 3.5em;
}
.fuente-roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
}
.fuente-negrita {
    font-weight: bold;
}
.fuente-italica {
    font-size: 32pt;
    font-style: italic;
}
span.resaltado {
    font-size: 2.5em;
    color: lightseagreen;
    font-weight: bold;
    font-family: 'roboto', serif;
}
p.parrafo-enlace {
    font-size: 40px;
}
p.espaciado-letras {
    letter-spacing: 0.3em;
}
p.espaciado-palabras {
    word-spacing: 0.8em;
}
p.espaciado-lineas {
    line-height: 2em;
}
p.alineado-izquierda {
    text-align: left;
}
p.alineado-derecha {
    text-align: right;
}
p.alineado-centro {
    text-align: center;
}
p.justificado {
    text-align: justify;
}
p.texto-indentado {
    text-align: justify;
    text-indent: 3.5em;
}
span.texto-enfatizado {
    font-size: 2.2em;
    font-weight: bold;
}
blockquote {
    font-size: 2.4em;
    color: rgb(48,48,48);
    font-weight: 900;
    text-align: right;
    font-style: italic;
}
div.contenedor-1 {
    height: 200px;
    width: 350px;
    /* background-color: darkcyan; */
    display: inline-block;
    margin: 0 auto;
}
.contenedor-main {
    margin-bottom: 40px;
}
.box-2, .box-3, 
.box-4, .box-5 {
    margin-left: 8px;
    margin-right: 8px;
}
.box-1, .box-2, .box-3, 
.box-4, .box-5, .box-6 {
    margin-right: 8px;
    display: inline-blocK;
    color: whitesmoke;
    padding: 1.5em;
    width: 150px;
}
/* .box-1, .box-5 {
    margin-left: 50px;
} */
.box-5, .box-6 {
    margin-top: 16px;
    float: left;
}
.box-1 {
    background-color: rgb(27,69,67);
    border: 10px solid  rgb(36,102,100);
}
.box-2 {
    background-color: rgb(21,80,52);
    border: 10px dotted blue;
}
.box-3 {
    background-color: rgb(46,44,93);
    border: 10px dashed green;
}
.box-4 {
    background-color: rgb(32,35,52);
    border: 10px double yellow;
}
.box-5 {
    background-color: rgb(125,55,171);
    border: 10px dashed green;
    margin-left: 60px;
}
.box-6 {
    background-color: rgb(105,176,72);
    border: 10px groove lightblue;
    margin-left: 8px;
}
.margen
{
    margin: 1.5em;
}
@font-face {
    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/reggae-one-v1-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/reggae-one-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/reggae-one-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/reggae-one-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/reggae-one-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/reggae-one-v1-latin-regular.svg#ReggaeOne') format('svg'); /* Legacy iOS */
  }
